<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ykv5aax.css">
    <link rel="stylesheet" href="/style.css">
    <title>Express Lab 2</title>
</head>
<body>
    <h1>Pizza Planet</h1>
    <h2>Specialty Pizzas</h2>
    <ul>
        <li><a href="/specialty-pizza?name=Anchovy%20Lover%27s&price=15.00">Anchovy Lover's</a></li>
        <li><a href="/specialty-pizza?name=Paleo Pizza&price=20.00">Paleo Pizza</a></li>
        <li><a href="/specialty-pizza?name=Dessert Pizza&price=7.00">Dessert Pizzas</a></li>
    </ul>
    <h2>Custom Pizza</h2>
    <a href="/custom-pizza">Build your own!</a>
    <h2>Leave a review</h2>
    <p>    <a href="/review">Click here to leave a review</a></p>
    {{!-- <footer>background image: <em>Milky Way Nebula</em> by AstroAnthony, CC BY 4.0, via Wikimedia Commons</footer> --}}
</body>
</html>