<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Lab 2</title>
</head>
<body>
    <h1>Leave a Review</h1>
    <form action="/review/confirmation" method="POST">
        <p>
        <label for="name">Your Name</label>
        <input type="text" id="name" name="name">
        </p>
        <p>
        <label for="comment">Comment</label>
        <input type="text" id="comment" name="comment">
        </p>
        <p>
        Rating
        </p>
        <p>
            <input type="radio" name="rate" value="5"><label for="rate">5(best)</label>
            <input type="radio" name="rate" value="4"><label for="rate">4</label>
            <input type="radio" name="rate" value="3"><label for="rate">3</label>
            <input type="radio" name="rate" value="2"><label for="rate">2</label>
            <input type="radio" name="rate" value="1"><label for="rate">1(worst)</label>
        </p>
        <p><button type="submit">submit review</button></p>




    </form>
    <p><a href="/">Never Mind</a></p>
</body>
</html>